.col-auto,
.form-label {
  padding-left: 0;
}
.form-label {
  font-size: 1.6rem;
  font-weight: bolder;
}
.form-check {
  margin-right: 8rem;
}
form .form-group:nth-child(2) .form-check {
  margin-right: 8.2rem;
}

